데이터분석/test.py
.vscode/tasks.json
C/9_3.dSYM/Contents/Info.plist
C/9_3.dSYM/Contents/Resources/DWARF/9_3
C/test.c
C/test
C/test.dSYM/Contents/Info.plist
C/test.dSYM/Contents/Resources/DWARF/test
SQL/혼공sql/*
Algorithm/soma/*
AI/Pytorch_Deeplearning_Project/ch09_cnn.ipynb
AI/Pytorch_Deeplearning_Project/ch10_dl_tuning.ipynb
ml_class/AIhub project/판결문/*
