
데이터분석/test.py
.vscode/tasks.json
C/9_3.dSYM/Contents/Info.plist
C/9_3.dSYM/Contents/Resources/DWARF/9_3
C/test.c
C/test
C/test.dSYM/Contents/Info.plist
C/test.dSYM/Contents/Resources/DWARF/test
C/assignment
